.holder {
    width: 100%;
    padding: 12px 12px 12px 12px;
    margin-right: auto;
    margin-left: auto;
    background-color: #eeeeee;
}

.header {
    display: flex;
    align-items: center;
}

.d-none {
    display: none;
}

#logo {
    max-height: 60px;
    max-width: 60px;
    margin-right: 10px;
}

#error {
    color: darkred;
}