.elucidate--video--holder {
    z-index: 2147483647;
    position: fixed;
}

.elucidate--video--holder:hover .elucidate--video--control,
.elucidate--video--holder:active .elucidate--video--control {
    display: block;
}

.elucidate--video--control {
    display: none;
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 0 2px 0 2px;
    opacity: 0.5;
    border-radius: 2px;
    font-size: 1.5em;
    font-weight: bold;
    color: black !important;
}

.elucidate--video--control:hover,
.elucidate--video--control:active, {
    opacity: 0.8;
}

a.elucidate--video--control:link {
    color: black;
}

a.elucidate--video--control:hover {
    text-decoration: none;
}

.elucidate--video--close {
    position: absolute;
    left: 4px;
    top: 4px;
}

.elucidate--video--resize {
    position: absolute;
    cursor: se-resize;
    line-height: 1.2em;
    right: 4px;
    bottom: 8px;
}

.elucidate--video {
    cursor: move;
}

@media screen and (orientation:portrait) {
    .elucidate--video {
        max-width: 40vw;
        max-height: 40vh;
    }
}

@media screen and (orientation:landscape) {
    .elucidate--video {
        max-width: 30vw;
        max-height: 30vh;
    }
}